.color-cube {
	
	$panel-size: 30vw;
	
	display: block;
	
	&__input {
		display: inline-block;
		
		input {
			width: 4em;
		}
	}
	
	&__rgb-string {
		display: block;
	}
	
	&__container {
		display: block;
		perspective: 1000px;
		position: relative;
		width: $panel-size * 2;
		height: $panel-size * 2;
	}
	
	&__box {
		width: 100%;
		height: 100%;
		position: absolute;
		transform-style: preserve-3d;
		transform: translateZ(-$panel-size);
		transition: transform;
		animation: box-revolve 100s infinite linear;
	}
	
	.panel {
		margin: 0;
		left: $panel-size / 2;
		top: $panel-size / 2;
		width: $panel-size;
		height: $panel-size;
		display: block;
		position: absolute;
		
		canvas {
			width: $panel-size;
			height: $panel-size;
		}
		
		&--top {
			transform: rotateX(90deg) translateZ($panel-size / 2);
		}
		&--bottom {
			transform: rotateX(-90deg) translateZ($panel-size / 2);
		}
		&--right {
			transform: rotateY(90deg) translateZ($panel-size / 2);
		}
		&--left {
			transform: rotateY(-90deg) translateZ($panel-size / 2);
		}
		&--front {
			transform: rotateY(0deg) translateZ($panel-size / 2);
		}
		&--back {
			transform: rotateY(180deg) translateZ($panel-size / 2);
		}
		
		&--top canvas {
			transform: scaleX(-1) scaleY(-1);
		}
		&--bottom canvas {
			transform: scaleX(-1) scaleY(1);
		}
		&--left canvas {
			transform: scaleX(-1) scaleY(1);
		}
		&--front canvas {
			transform: scaleX(-1);
		}
	}
}

@keyframes box-revolve {
	0% {
		transform: rotateX(-0.125turn) rotateY(-0.125turn);
	}
	100% {
		transform: rotateX(-3.125turn) rotateY(-11.125turn);
	}
}
